{% extends "base.html" %} {% load i18n %} {% load account socialaccount %} {% block head_title %} {% trans "Sign In" %} {% endblock %} {% block content %}

<div class="container account-card" id="log-in">

  <div class="card">
    <div class="card-body">
      <h1>{% trans "Log In" %}</h1>

      <p>
        Welcome back to Board Silly. To leave a comment or like
        a post, please log in. If you have not created an account yet, then
        <a class="link" href="{{ signup_url }}">sign up</a> first.
      </p>

      <form class="login" method="POST" action="{% url 'account_login' %}">
        {% csrf_token %} {{ form.as_p }} {% if redirect_field_value %}
        <input
          type="hidden"
          name="{{ redirect_field_name }}"
          value="{{ redirect_field_value }}"
        />
        {% endif %}
        <button class="btn btn-gold mt-2 right" type="submit">
          {% trans "Log In" %}
        </button>
        <a href="{% url 'home' %}" class="btn btn-secondary">Cancel</a>
      </form>
    </div>
  </div>
</div>
{% endblock %}
