{% extends "base.html" %} {% load static %} {% block content %}
<div class="container mt-4">
  <div class="row">
    <!-- Left Hand Game Stats-->
    <div class="col-md-3">
      <div class="card mb-3">
        <div class="card-body">
          <h5>Game Stats</h5>
          <ul class="list-unstyled">
            <li>
              <strong>Players:</strong> {{ boardgame.min_players}}–{{boardgame.max_players }}
            </li>
            <li><strong>Play Time:</strong> {{ boardgame.play_time }}</li>
            <li><strong>Complexity:</strong> {{ boardgame.complexity }}/10</li>
            <li><strong>Rating:</strong> ⭐ {{ boardgame.rating }}</li>
          </ul>
        </div>
      </div>
    </div>
    <!-- Right Hand Game Details -->
    <div class="col-md-9">
      <h2>{{ boardgame.title }}</h2>
      <p>{{ boardgame.description|safe }}</p>
      <h4>Genres</h4>
      <ul class="list-inline">
        {% for genre in boardgame.genre_id.all %}
        <span class="genre-tag">{{ genre.name }}</span>
        {% endfor %}
      </ul>
      <!-- Right Hand Reviews -->
      <h2>Reviews</h2>
      {% for review in reviews %}
      <div class="{% if not review.approved and review.author == user %}faded{% elif not review.approved %}d-none{% endif %}">
        <h3>{{ review.title }}</h3>
        <p>{{ review.content|safe }}</p>
        <small>{{ review.created_at }} by {{ review.author }}</small>
      </div>
      {% if not review.approved and review.author == user %}
          <p class="approval mt-1">
            This review is awaiting approval
          </p>
      {% endif %}
      <div class="row">
        <div class="col-2"></div>
        <div class="col-10">
          {% for comment in review.comments.all %}
          <div class="p-2 {% if not comment.approved and comment.author == user %}faded{% elif not comment.approved %}d-none{% endif %}">
            <p>{{ comment.content|safe }}</p>
            <small>{{ comment.created_at }} by {{ comment.author }}</small>
          </div>
          {% if not comment.approved and comment.author == user %}
          <p class="p-2">
            This comment is awaiting approval
          </p>
          {% endif %}
          {% empty %}
          <p>Be the first to leave a comment!</p>
          {% endfor %}
        </div>
      </div>
      {% empty %}
      <p>Be the first to leave a review! ADD LOG IN BUTTON</p>
      {% endfor %}
    </div>
  </div>
</div>

{% endblock %}
